
                          
  /*use border-box sizing for the entire project, a la Paul Irish*/
  
  *, *:before, *:after{
    @include box-sizing(border-box);
  }
  
  html,body{
    min-width:100%;
    min-height:100%;
    margin:0;
    padding:0;
    font-size:16px;
  }
  
  a{
    text-decoration:none;
    color:inherit;
    
    img{
      border:none;
    }
  }
  .icon{
    font-family:"icomoon";
  }
  
  .hidden{
    display:none;
  }
  
  button{
    cursor:pointer;
  }
  
  .mobile{
    display:none;
  }
  
  .trojan{
    position:fixed;
    left:5000px;
    opacity:0;                          
  }
