 .button
  {
    cursor:pointer;  
    margin:auto;
    margin-top:.5rem;
    background:$navy;
    background-image: linear-gradient(to right, $blue, $navy);
    border-radius:.25rem;
    border:thin solid $navy;
    font-size:2rem;
    font-family:inherit;
    color:$white;
    display:block;
    text-align:center;
    box-shadow:.25rem .25rem .25rem $gray;
    @include transition(all,.5s);
    &:hover
    {
     box-shadow:none;
     color:$gray;
      
    }
}
  
  .sidebar
  {
    .button
    {
      max-width:80%;
    }
  }
