 @font-face {
                      font-family: 'icomoon';
                        src: url('https://api.knoxmodernmedia.com/fonts/icomoondevelopment.ttf') format('truetype'), url('https://api.knoxmodernmedia.com/fonts/icomoondevelopment.eot') format('eot'), url('https://api.knoxmodernmedia.com/fonts/icomoondevelopment.woff') format('woff'),url('https://api.knoxmodernmedia.com/fonts/icomoondevelopment.svg') format('svg');
                //      src: url('../fonts/icon.ttf') format('truetype'), url('../fonts/icon.eot') format('eot'), url('../fonts/icon.woff') format('woff'), url('../fonts/icon.svg') format('svg');
                    }