
  footer
  {
    width:100%;
    background:$flatgray;
    color:$white;
    margin-top:3rem;
    padding:1rem;
    text-align:center;
    @include transition(all,.5s);
    
    hr
    {
      max-width:80%;
    }
    
    a{
     display:inline-block; 
     text-transform:uppercase;
     margin-left:1rem;
     margin-right:1rem;
      &:hover
      {
        color:$blue;
      }
    }
  }
