
  header
  {
    text-align:center;
    padding-top:.5rem;
    color:$gray;
    
    div
    {
      width:49%;
      display:inline-block;
      vertical-align:top;

      &:nth-of-type(3)
      {
        margin:auto;
        width:98%;
      }
            
      @media screen and (min-width:768px)
      {
        width:39%;
        &:nth-of-type(2)
        {
          display:none;
        }
        
        &:nth-of-type(3)
        {
          width:59%;
          text-align:left;
          vertical-align:bottom;
        }
      }
      
      button
      {
        display:inline-block;
        width:100px;
        height:100px;
        font-size:4rem;
        vertical-align:top;
        border:none;
        background:none;
      
      }
      
      img
      {
        height:100px;
        width:100px;
        
      }
    }
    
    h1
    {
      text-transform:uppercase;
    }
    
    nav
    {
      margin-top:1rem;
      background:$navy;
      border-top:solid thin $blue;
      border-bottom:solid thick $flatgray;
      
      a
      {
        display:block;
        text-transform:uppercase;
        padding:.5rem;
        @include transition(all,.5s);
        
        @media screen and (min-width:768px)
        {
          display:inline-block;
        }  
        
        &:hover
        {
          color:$coal;
        }
      }  
    }
  }
