
 input
 {
   font-family:arial,san-serif;
   padding:.5rem;
   font-size:1.5rem;
   height:2.25rem;
   border-radius:.25rem;
   border:none;
   display:block;
   margin-top:.25rem;
   margin-bottom:.25rem;
   min-width:90%;
   max-width:90%;
   @media screen and (min-width:480px)
   {
     min-width:60%;
     max-width:auto;
   }
 }

  select
  {
    @extend input;
    height:auto;
    
    @media screen and (min-width:1024px)
    {
      width:80%;
    }
  }

  label
  {
    color:$white;
  }

  .red
  {
    color:red;
  }
