
                    @mixin linear-gradient($x,$y){
                      background-image:-webkit-linear-gradient($x,$y);
                      background-image:-moz-linear-gradient($x,$y);
                      background-image:linear-gradient($x,$y);
                    }
                    
                    @mixin box-sizing($box-sizing){
                    -webkit-box-sizing:$box-sizing;
                    -moz-box-sizing:$box-sizing;
                    box-sizing:$box-sizing;
                    }
                    
                    @mixin border-radius($radius){
                    -webkit-border-radius: $radius;
                        -moz-border-radius: $radius;
                         -ms-border-radius: $radius;
                          -o-border-radius: $radius;
                             border-radius: $radius;
                        }
                        
                    @mixin transition($transition-select, $transition-duration){
                    -o-transition:$transition-select $transition-duration;
                    -moz-transition:$transition-select $transition-duration;
                    -webkit-transition:$transition-select $transition-duration;
                    -transition:$transition-select $transition-duration;
                    }
                    
                    