
  @import '_mixins';
  @import '_bootstrap';
  @import '_colors';
  @import '_fonts';
                  
  html
  {
    background-image: -moz-linear-gradient(to bottom right, $egg, $white);
    background-image: -webkit-linear-gradient(to bottom right, $egg, $white);
    background-image: linear-gradient(to bottom right, $egg, $white);
    color: $coal;
    font-family:"Georgia", san-serif;
       
  }
  
  
  h1
  {
    font-size:1.5rem;
    color:$navy;
    text-transform:capitalize;
  }
  
  h2
  {
    color:$coal;
    text-transform:capitalize;  
  }
