@import "project";
@import "header";
@import "footer";
@import "button";
  
  #sliderWrapper
  {
    display:none;
    background-image: url(../images/defaultBackground.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    min-height:450px;
    
    @media screen and (min-width:768px)
    {
      display:block;
    }
  }
  .slider
  {
    max-width:50%;
    margin-left:45%;
    display:none;
    @media screen and (min-width:768px)
    {
      display:inline-block;
    }
    
    figure
    {
      background-image:linear-gradient(to bottom right, rgba(255,255,255,.9) 80%, $gray);
      border-radius:1rem;
      padding:1rem;
      
      img
      {
        max-width:80%;
      }
    
      table
      {
        margin:auto;
        width:80%;
        border-collapse:collapse;
        
        td
        {
          padding:.25rem;
          padding-left:1rem;
          width:20%;
          
          &:first-child
          {
            font-weight:bold;
          }
          
          &:nth-child(2)
          {
            font-size:1.25rem;
          }
        
        }
        
        th
        {
          padding:.25rem;
          padding-left:1rem;
          color:$white;
          background:$navy;
          text-align:left;
        }
        
      }
    
      button
      {
       @extend .button;
      }
      
    &:nth-of-type(2)
    {
     text-align:center; 
     img
     {
      vertical-align:top;  
     }
     p
      {
        box-shadow:.25rem .25rem .25rem $coal;
        font-size:1.5rem;
        margin-bottom:-3rem;
        width:60%;
        position:relative;
        background:rgba(255,255,255,.8);
        pading:.45rem;
        border-bottom-right-radius:.25rem;
        
        @media screen and (min-width:1050px)
        {
          width:40%;
        }
      }
      
    }
    
    &:nth-of-type(3)
    {
      text-align:center;
    }    
      
    }
  
  }

  aside
  {
    width:90%;
    margin:auto;
    border:thin solid $gray;
    box-shadow:.01rem .01rem .25rem $gray;
    padding:.5rem;
    margin-top:.5rem;
    margin-bottom:.5rem;
    
    @media screen and (min-width:1024px)
    {
      width:49%;
      min-height:300px;
      margin-left:.25%;
      display:inline-block;
      vertical-align:top;
    }
    
    @media screen and (min-width:1050px)
    {
      width:39%;
      margin-left:9.75%;
      
      &:nth-of-type(2)
      {
        margin-left:.25%;
        
        img
        {
          max-width:70%;
        }
      }
    }
  
    h2
    {
      border-bottom: $blue solid thick;
    }
    
    h3
    {
      max-width:50%;
      border-bottom:$gray solid thin;
    }
    
    p
    {
      max-width:90%;
      margin:auto;
      
      @media screen and (min-width:768px)
      {
        max-width:80%;
      }
    }
  
    .listWrapper
    {
     text-align:left;
     
      @media screen and (min-width:768px)
      {
        text-align:center;
      }  
     
      ul
      {
        @media screen and (min-width:768px)
        {
          text-align:left;
          display:inline-block;
          vertical-align:top;
        }
      }
    }
    
    .button
    {
      max-width:60%;
    }
   
  }
  
  .blogWrapper
  {
    background:$navy;
    color:$white;
    
    h2
    {
      color:$white;
      border-bottom:thick solid $flatgray;
    }
    
    h3
    {
      max-width:100%;
      @include transition(all,.5s);
      &:hover
      {
        color:$blue;
      }
      
    }
    
    article
    {
      background:$gray;
      padding:.5rem;
      padding-left:1rem;
      margin:auto;
      margin-top:1rem;
      margin-bottom:1rem;
      max-width:80%;
    
      i
      {
        color:$coal;
      }  
    }
    
  }

 .social
 {
   width:98%;
   margin:auto;
   text-align:center;
   
   @media screen and (min-width:1500px)
   {
     width:83%;
   }
   
   div
   {
     @media screen and (min-width:768px)
     {
      width:45%;
      display:inline-block; 
      margin:.5rem;  
      vertical-align:top;
     }
     
     @media screen and (min-width:768px)
     {
      width:30%;
     }
   }
 }
  
